.picoco-block {
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.inline {
    display: inline;
}

.picoco-table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;:
}
