<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Picoco</title>
    <link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div id="configuration_block">
        <button type="button" class="btn btn-primary">选择文件夹</button>
    </div>
    <div id="classification_block"></div>
    <div id="picture_block"></div>
    <div></div>
  </body>
  <script>window.$ = window.jQuery = require("../public/jquery/jquery.js");</script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script>
    //const fileUtil = require('./util/fileUtil.js');
    //filenames = fileUtil.imagesInDir(".");
    //console.log(filenames);
  </script>
</html>
